<div *ngFor="let item of tableData" class="item-card">
    <mat-card >
      <img [src]="item.imagePath?imagePath+item.imagePath:dummyImage" alt="Item Image" mat-card-image>
      <mat-card-content>
        <h2>{{ item.name }}</h2>
        <p>Price: {{ item.price }}</p>
        <p>Category:<span *ngFor="let item of item.category">{{item.name}} , </span></p>
        <p>Tag: {{ item.tag.name }}</p>
        <p>Modification Date: {{ item.modificationDate|date }}</p>
        <p>Creation Date: {{item.creationDate|date}}</p>
        <p>Description: {{ item.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>