<section>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
        <div class="container">
            <div class="row py-5">
                <div class="col-9 mx-auto">
                    <div class="col-12 my-2  d-flex justify-content-center align-items-center">
                        <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                            <ngx-dropzone-label *ngIf="!imgSrc">Drag and Drop image <span class="text-success fw-bold">Choose image </span>to upload</ngx-dropzone-label>
                            <ngx-dropzone-label *ngIf="imgSrc" > 
                            <img [src]="imgSrc" alt="" class="w-25">
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview [removable]="true" (removed)="onRemove(f)" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                                <ngx-dropzone-label></ngx-dropzone-label>
                              </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="userName" type="text" class="form-control" name="userName" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="email" type="email" class="form-control" name="email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="country" type="text" class="form-control" name="country" placeholder="Country" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="phoneNumber" type="number" class="form-control" name="phoneNumber" placeholder="Phone Number" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="confirmPassword" [type]="hide?'password':'text'" class="form-control" name="Confirm Password" placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1">
                        <a class="show-password text-main" (click)="this.hide= !this.hide">
                            <i class="fa-solid" [class]="hide?'fa-eye-slash':'fa-eye'"></i>
                        </a>
                    </div>
                    
                      
                    <div>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-success mx-2">Cancel</button>
                            <button class=" bg-success text-white btn px-4">Save</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>