ngx-dropzone {
    width: 18%;
    border-radius: 20% !important;
    overflow: hidden; 
  }
  #Edit-User{
    background-color: #f0ffef;
    border-radius: 15px;
    margin-top: 1rem;
    padding:1rem;
}

